* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: min(95%, 1440px);
  margin: 0 auto;
}

.heading {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}

.text-small {
  color: #727272;
  font-size: 1rem;
  line-height: 26px;
}

.btn {
  color: white;
  background-color: #ff900e;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px;
  border: none;
  outline: none;
}

.flex {
  display: flex;
}

header {
  background-color: rgba(255, 143, 14, 0.0392156863);
}
header .header-container {
  padding: 50px 0;
}
header .header-container .nav-bar {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
header .header-container .nav-bar .nav-items {
  gap: 3rem;
}
header .header-container .nav-bar .nav-items .nav-item {
  list-style: none;
}
header .header-container .nav-bar .nav-items .nav-item .nav-link {
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}
header .header-container .heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
header .header-container .banner img {
  width: 100%;
  max-width: 1440px;
  border-radius: 8px;
}

section.features .feature-container .feature-intro {
  padding: 100px 0;
  display: flex;
  align-items: center;
}
section.features .feature-container .feature-intro .feature-images {
  padding-left: 3rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
}
section.features .feature-container .feature-intro .feature-images .feature-img {
  overflow: hidden;
  border-radius: 8px;
}
section.features .feature-container .feature-intro .feature-images .feature-img:hover img {
  transform: scale(105%);
  overflow: hidden;
}
section.features .feature-container .feature-intro .feature-images .feature-img img {
  width: 100%;
  max-width: 342px;
  transition: 1s;
}
section.features .feature-container .feature-intro .feature-texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding-left: 3rem;
}
section.features .feature-container .feature-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
section.features .feature-container .feature-lists .feature-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.features .feature-container .feature-lists .feature-wrapper .feature-boxes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.features .feature-container .feature-lists .feature-wrapper .feature-boxes .feature-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 20px rgb(218, 217, 217);
  border-radius: 8px;
  justify-content: center;
  padding: 1rem;
  border: none;
  outline: none;
  gap: 0.5rem;
}
section.features .feature-container .feature-lists .feature-wrapper .feature-boxes .feature-box .feature-heading {
  font-weight: 600;
  font-size: 1.25rem;
}
section.features .feature-container .feature-lists .feature-image {
  display: flex;
  align-items: center;
  position: relative;
}
section.features .feature-container .feature-lists .feature-image img {
  width: 100%;
  max-width: 708px;
}
section.features .feature-container .feature-lists .feature-image button {
  position: absolute;
  bottom: -40px;
  left: -40px;
  padding: 2rem;
  transition: 0.5s;
}
section.features .feature-container .feature-lists .feature-image button:hover {
  scale: 1.05;
}
section.features .feature-container .feature-lists .feature-image button span {
  font-size: 2.8125rem;
}

@media screen and (max-width: 48em) {
  .nav-bar {
    flex-direction: column;
    gap: 1rem;
  }
  section.features .feature-container .feature-intro {
    flex-direction: column;
    gap: 2rem;
  }
  section.features .feature-container .feature-intro .feature-images {
    padding: 0;
  }
  section.features .feature-container .feature-lists {
    flex-direction: column;
  }
  section.features .feature-container .feature-lists .feature-image button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 36em) {
  section.features .feature-container .feature-intro .feature-images {
    grid-template-columns: 1fr;
  }
  section.features .feature-container .feature-intro .feature-texts {
    padding: 0;
    align-items: center;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */